.eventCards
    display: flex
    flex-direction: column
    gap: 50px
    .eventCard
        a
            display: flex
            justify-content: space-around
            align-items: center
            padding: 1rem
            gap: 1rem
            div
                object-fit: contain
                width: 50%
        &:nth-child(even)
            a
                flex-direction: row-reverse
        .eventCoverImg
            object-fit: cover
            max-width: 100%