.eventCards
    display: flex
    flex-direction: column
    gap: 50px
    a
        display: flex
        justify-content: space-around
        align-items: center
        gap: 2.5rem
        div
            width: 50%
            overflow: hidden
            border-radius: 10px
            h2
                font-size: 2rem
            img
                object-fit: cover
                width: 100%
                transition: all 500ms
                border-radius: 10px
                &:hover
                    scale: 1.05
                    transition: all 300ms
        &:nth-child(odd) //if it is "a" which is odd child
            flex-direction: row-reverse
