header
    background-color: oladlace
    height: 80px
    display: flex
    justify-content: space-between
    align-items: center
    div
        max-width: 1234px
        margin: auto
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 0.5rem 1rem
        ul
            list-style-type: none
            display: flex
            justify-content: space-between
            gap: 1rem
            border-bottom: 2px solid transparent
            :hover
                border-bottom: 2px solid black
footer
    background-color: #333
    color: #fff
    text-align: center
    padding: 1rem

main
    width: 100%
    max-width: 1234px
    margin: auto
    padding: 1rem
