body
    min-height: 100vh

header
    background-color: oladlace
    height: 80px
    display: flex
    justify-content: space-between
    align-items: center
    div
        max-width: 1234px
        margin: auto
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 0.5rem 1rem
        ul
            list-style-type: none
            display: flex
            justify-content: space-between
            gap: 1rem
            border-bottom: 2px solid transparent
            :hover
                border-bottom: 2px solid black
footer
    margin-top: auto
    background-color: #333
    color: #fff
    text-align: center
    padding: 1rem

main
    width: 100%
    max-width: 1234px
    margin: auto
    padding: 1rem

// Each city page

.city__events--container
    .city__events--list
        display: grid
        grid-template-columns: 1
        gap: 2rem
        border: none
        border-radius: 25px
        @media (min-width:768px)
            grid-template-columns: repeat(2,1fr)
        @media (min-width:1111px)
            grid-template-columns: repeat(3,1fr)

        .card
            border-radius: 10px
            display: flex
            flex-direction: column
            align-items: flex-start
            padding: 1rem
            margin: 0 auto
            box-shadow: 0px 2.5px 5px rgba(0, 0, 0, 0.2)
            transition: all 500ms
            &:hover
                box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5)
                transition: all 200ms
            .card__img--container
                margin: 0 auto
                display: flex
                justify-content: center
                width: 100%
                border-radius: 7px
                img
                    border-radius: 7px
            .card__details--container
                margin: 0 auto
                display: flex
                flex-direction: column
