header
    background-color: oladlace
    height: 80px
    display: flex
    justify-content: space-between
    align-items: center
    div
        max-width: 1000px
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 1rem
        ul
            list-style-type: none
            display: flex
            justify-content: space-between
            gap: 1rem
            border-bottom: 2px solid transparent
            :hover
                border-bottom: 2px solid black
